body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    background-color: #14213d;
    color: #fafafa;
}

.content{
max-width: 640px;
margin: 0;
padding: 0 1em 0 1em;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
}

ul:first-child {
    margin-right: 1em;
  }
  

a{
    color: #fafafa;
}